* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Rubik", sans-serif;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-weight: 500;
}

.container {
  /* padding: 1em 5vw; */
}

@media (max-width: 760px) {
  .container {
    /* padding: 1em 5vw; */
  }
}
